> ### Note on Labs and Assigments:
>
> 🔧 Look for the **wrench emoji** 🔧 — it highlights where you're expected to take action!
>
> These sections are graded and are not optional.
>

# IS 4487 Lab 6: Data Cleaning

## Outline

- Load and inspect a new dataset (Megatelco)
- Fix column names and data types
- Handle missing values
- Remove duplicate rows
- Review and remove outliers
- Reflect on data quality

In this lab, we’ll clean the data to get it ready for transformations and analysis.

We will continue working with this dataset in **Lab 7**, where we will create new features and apply transformations.

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/lab_06_data_cleaning.ipynb" target="_parent">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Megatelco Data Dictionary

 DEMOGRAPHIC VARIABLES:
 - College - has the customer attended some college (one, zero)
 - Income - annual income of customer
 - House - estimated price of the customer's home (if applicable)

 USAGE VARIABLES:
 - Data Overage Mb - Average number of megabytes that the customer used in excess of the plan limit (over last 12 months)
 - Data Leftover Mb - Average number of megabytes that the customer use was below the plan limit (over last 12 months)
 - Data Mb Used - Average number of megabytes used per month (over last 12 months)
 - Text Message Count - Average number of texts per month (over last 12 months)
 - Over 15 Minute Calls Per Month - Average number of calls over 15 minutes in duration per month (over last 12 months)
 - Average Call Duration- Average call duration (over last 12 months)

PHONE VARIABLES:
 - Operating System - Current operating system of phone
 - Handset Price - Retail price of the phone used by the customer

ATTITUDINAL VARIABLES:
 - Reported Satisfaction - Survey response to "How satisfied are you with your current phone plan?" (high, med, low)
 - Reported Usage Level - Survey response to "How much do your use your phone?" (high, med, low)
 - Considering Change of Plan - Survey response to "Are you currently planning to change companies when your contract expires?" (high, med, low)

OTHER VARIABLES
 - Leave - Did this customer churn with the last contract expiration? (LEAVE, STAY)
 - ID - Customer identifier

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/Stan-Pugsley/is_4487_base/812e9f15c357a5657a2795631fcaa9d9363cb417/DataSets/megatelco_leave_survey_data_cleaning_v2.csv"
df = pd.read_csv(url)

df.head()

,college,income,data_overage_mb,data_leftover_mb,data_mb_used,text_message_count,house,handset_price,over_15mins_calls_per_month,average_call_duration,reported_satisfaction,reported_usage_level,considering_change_of_plan,leave,id,operating_system
0,one,403137.0,70,0.0,6605.0,199,841317,653.0,5.0,8.0,low,low,yes,LEAVE,8183,Android
1,zero,129700.0,67,16.0,6028.0,134,476664,1193.0,5.0,5.0,low,low,yes,LEAVE,12501,IOS
2,zero,69741.0,60,0.0,1482.0,176,810225,1037.0,3.0,8.0,low,low,yes,STAY,7425,IOS
3,one,377572.0,0,22.0,3005.0,184,826967,1161.0,0.0,5.0,low,low,no,LEAVE,13488,IOS
4,zero,382080.0,0,0.0,1794.0,74,951896,1023.0,0.0,14.0,low,low,yes,STAY,11389,IOS

In [2]:
# create a copy of your dataset for use in part 4
copied_df = df.copy(deep=True)

## Part 1: Review Column Names and Structure

Before cleaning, check the structure of the dataset:

- Are column names consistent (lowercase, no spaces)?
- Are there any typos or redundant labels?
- Do the rows and columns appear aligned? (Are all the columns the same size? Are all the rows the same size?)

Why this matters:
Inconsistent or messy column names can break code and make analysis harder to follow.

In [3]:
# Standardize column names: lowercase, no spaces
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Get column info and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15016 entries, 0 to 15015
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   college                      15016 non-null  object
 1   income                       15006 non-null  float64
 2   data_overage_mb              15016 non-null  int64
 3   data_leftover_mb             14916 non-null  float64
 4   data_mb_used                 14916 non-null  float64
 5   text_message_count           15016 non-null  int64
 6   house                        15016 non-null  int64
 7   handset_price                14916 non-null  float64
 8   over_15mins_calls_per_month  15013 non-null  float64
 9   average_call_duration        14916 non-null  float64
 10  reported_satisfaction        15016 non-null  object
 11  reported_usage_level         15016 non-null  object
 12  considering_change_of_plan   14201 non-null  object
 13  leave                        15016 non-null  object
 14  id                           15016 non-null  int64
 15  operating_system             15016 non-null  object
dtypes: float64(6), int64(4), object(6)
memory usage: 1.8+ MB

## Part 2: Convert Data Types

Before analysis, make sure each column is stored in the correct format. This helps avoid calculation errors, makes plotting smoother, and ensures models interpret the data correctly.

Think about:
- Are numbers accidentally stored as strings?
- Should repeated text values be converted to categories?
- Are "yes"/"no" columns better represented as binary (0/1) or categorical types?

Fixing data types now saves time and avoids issues later in your workflow.

In [5]:
# Check original data types
print("Original dtypes:\n", df.dtypes)

# Convert yes/no to binary categories
df['considering_change_of_plan'] = df['considering_change_of_plan'].map({'yes': 1, 'no': 0}).astype('category')

# Convert categorical text columns
df['college'] = df['college'].astype('category')
df['house'] = df['house'].astype('category')
df['reported_satisfaction'] = df['reported_satisfaction'].astype('category')
df['operating_system'] = df['operating_system'].astype('category')

# Convert numeric-looking columns from object to float
df['income'] = pd.to_numeric(df['income'], errors='coerce')
df['data_overage_mb'] = pd.to_numeric(df['data_overage_mb'], errors='coerce')
df['data_leftover_mb'] = pd.to_numeric(df['data_leftover_mb'], errors='coerce')
df['data_mb_used'] = pd.to_numeric(df['data_mb_used'], errors='coerce')
df['text_message_count'] = pd.to_numeric(df['text_message_count'], errors='coerce')
df['over_15mins_calls_per_month'] = pd.to_numeric(df['over_15mins_calls_per_month'], errors='coerce')
df['average_call_duration'] = pd.to_numeric(df['average_call_duration'], errors='coerce')

# Check updated data types
print("\nUpdated dtypes:\n", df.dtypes)

Original dtypes:
 college                        category
income                          float64
data_overage_mb                   int64
data_leftover_mb                float64
data_mb_used                    float64
text_message_count                int64
house                          category
handset_price                   float64
over_15mins_calls_per_month     float64
average_call_duration           float64
reported_satisfaction          category
reported_usage_level             object
considering_change_of_plan     category
leave                            object
id                                int64
operating_system               category
dtype: object

Updated dtypes:
 college                        category
income                          float64
data_overage_mb                   int64
data_leftover_mb                float64
data_mb_used                    float64
text_message_count                int64
house                          category
handset_price                   float64
over_15mins_calls_per_month     float64
average_call_duration           float64
reported_satisfaction          category
reported_usage_level             object
considering_change_of_plan     category
leave                            object
id                                int64
operating_system               category
dtype: object

### 🔧 Try It Yourself – Part 2

1. Convert the `leave` column from "yes"/"no" to binary (`1`/`0`) and make it a **category**
2. Convert `reported_usage_level` to a **categorical** type
3. Convert `house` to an **integer** type
3. Use `.info()` to confirm the changes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15016 entries, 0 to 15015
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   college                      15016 non-null  category
 1   income                       15006 non-null  float64
 2   data_overage_mb              15016 non-null  int64
 3   data_leftover_mb             14916 non-null  float64
 4   data_mb_used                 14916 non-null  float64
 5   text_message_count           15016 non-null  int64
 6   house                        15016 non-null  Int64
 7   handset_price                14916 non-null  float64
 8   over_15mins_calls_per_month  15013 non-null  float64
 9   average_call_duration        14916 non-null  float64
 10  reported_satisfaction        15016 non-null  category
 11  reported_usage_level         15016 non-null  category
 12  considering_change_of_plan   0 non-null      category
 13  leave                        15016 non-null  category
 14  id                           15016 non-null  int64
 15  operating_system             15016 non-null  category
dtypes: Int64(1), category(6), float64(6), int64(3)
memory usage: 1.2 MB

## Part 3: Handle Missing Values

Missing data can break charts, skew stats, and disrupt models — so it needs to be handled carefully.

### Think about:
- Are the missing values random or patterned?
- Can we drop rows, or do we need to fill them?
- Should we use mean, median, or something else?

### Guidelines:
- Drop rows if there are only a few missing and the columns associated with them are essential to keep intact
- Use median to replace outliers in numeric columns
- Use 0 if the missing value means “none” (e.g. If the value was in response to: “do you have a history of chronic illness?” and the value was just left blank, we can assume that that blank just means “none” (the patient has no history of chronic illness))
- Use mode to replace categorical values

Cleaning missing values early avoids bigger problems later.

-----


**Note on `.loc` and Warnings** - When assigning values to a DataFrame, especially after filtering or copying, it's best to use `.loc` to avoid **`SettingWithCopyWarning`**. This ensures that you're updating the original data and not a temporary view of it.

In [7]:
# View missing value counts
print("Missing values per column:\n", df.isnull().sum())

# Fill 'handset_price' with median
df['handset_price'] = df['handset_price'].fillna(df['handset_price'].median())

# Drop rows with missing 'income' (if very few)
df = df.dropna(subset=['income']).copy()

# Fill missing 'data_leftover_mb' with 0 if it logically means no leftover data
df.loc[:, 'data_leftover_mb'] = df['data_leftover_mb'].fillna(0)

# Fill 'average_call_duration' with median if necessary
df.loc[:, 'average_call_duration'] = df['average_call_duration'].fillna(df['average_call_duration'].median())

# Fill 'data_mb_used' with median
df.loc[:, 'data_mb_used'] = df['data_mb_used'].fillna(df['data_mb_used'].median())

# Confirm updated missing values
print("\nMissing values after handling:\n", df.isnull().sum())

Missing values per column:
 college                            0
income                            10
data_overage_mb                    0
data_leftover_mb                 100
data_mb_used                     100
text_message_count                 0
house                              0
handset_price                    100
over_15mins_calls_per_month        3
average_call_duration            100
reported_satisfaction              0
reported_usage_level               0
considering_change_of_plan     15016
leave                              0
id                                 0
operating_system                   0
dtype: int64

Missing values after handling:
 college                            0
income                             0
data_overage_mb                    0
data_leftover_mb                   0
data_mb_used                       0
text_message_count                 0
house                              0
handset_price                      0
over_15mins_calls_per_month        3
average_call_duration              0
reported_satisfaction              0
reported_usage_level               0
considering_change_of_plan     15006
leave                              0
id                                 0
operating_system                   0
dtype: int64

### 🔧 Try It Yourself – Part 3


There are still some missing values in:

- `over_15mins_calls_per_month`
- `considering_change_of_plan`

Decide how to handle them based on what makes the most sense:

- Should you fill them with 0, the median, or something else?
- For categories, would a placeholder like "unknown" or the most common value work?
- Or is it better to drop those rows?

1. Write and execute code to handle the missing values in the remaining two columns.
2. Use `df.isnull().sum()` to confirm all missing values are handled.

In [10]:
# Fill missing 'over_15mins_calls_per_month' with the median
df.loc[:, 'over_15mins_calls_per_month'] = df['over_15mins_calls_per_month'].fillna(df['over_15mins_calls_per_month'].median())

# The 'considering_change_of_plan' column became all null after the type conversion,
# causing an error when trying to find the mode.
# Since it's problematic to fill after this conversion, I will drop this column.
if 'considering_change_of_plan' in df.columns:
  df = df.drop(columns=['considering_change_of_plan'])


# Confirm updated missing values
print("\nMissing values after handling:\n", df.isnull().sum())

Missing values after handling:
 college                        0
income                         0
data_overage_mb                0
data_leftover_mb               0
data_mb_used                   0
text_message_count             0
house                          0
handset_price                  0
over_15mins_calls_per_month    0
average_call_duration          0
reported_satisfaction          0
reported_usage_level           0
leave                          0
id                             0
operating_system               0
dtype: int64

## Part 4: Remove Duplicate Rows

Sometimes the same row appears more than once due to data entry or processing mistakes. It's important to check for and remove these duplicates.

Think about:
- Are there rows that are exactly the same?
- If duplicates exist, should you keep the first one, the last one, or none?

Why this matters:
Duplicate rows can inflate totals, distort statistics, and lead to inaccurate conclusions.

In [11]:
# Check for exact duplicates
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Remove them, keeping the first occurrence
df = df.drop_duplicates()

# Confirm result
print(f"Remaining rows after removing duplicates: {len(df)}")

Number of duplicate rows: 17
Remaining rows after removing duplicates: 14989

### 🔧 Try It Yourself – Part 4

1. Use `copied_df.duplicated().sum()` to count how many duplicates are in your dataset.
2. Try using `copied_df.drop_duplicates(keep='last')` instead — what changes?
3. Explore whether duplicate rows share the same ID or just values across all columns and comment on your observation.

Number of duplicate rows in copied_df: 17
Remaining rows in copied_df after dropping duplicates (keeping last): 14999

Duplicate rows (showing all instances):

,college,income,data_overage_mb,data_leftover_mb,data_mb_used,text_message_count,house,handset_price,over_15mins_calls_per_month,average_call_duration,reported_satisfaction,reported_usage_level,considering_change_of_plan,leave,id,operating_system
69,zero,-65000.0,0,0.0,6444.0,160,542857,993.0,0.0,11.0,low,high,no,STAY,467,IOS
75,zero,-65000.0,0,0.0,6444.0,160,542857,993.0,0.0,11.0,low,high,no,STAY,467,IOS
49,zero,400865.0,159,0.0,5656.0,130,771829,1292.0,22.0,13.0,low,high,yes,STAY,705,IOS
56,zero,400865.0,159,0.0,5656.0,130,771829,1292.0,22.0,13.0,low,high,yes,STAY,705,IOS
66,one,414896.0,219,84.0,5008.0,56,663443,938.0,21.0,1.0,low,high,yes,LEAVE,1204,IOS
72,one,414896.0,219,84.0,5008.0,56,663443,938.0,21.0,1.0,low,high,yes,LEAVE,1204,IOS
64,zero,195320.0,0,75.0,3791.0,186,1012042,617.0,0.0,2.0,low,low,yes,LEAVE,3636,Android
63,zero,195320.0,0,75.0,3791.0,186,1012042,617.0,0.0,2.0,low,low,yes,LEAVE,3636,Android
67,one,291877.0,56,13.0,6319.0,68,1354850,382.0,3.0,5.0,low,low,no,STAY,4743,Android
73,one,291877.0,56,13.0,6319.0,68,1354850,382.0,3.0,5.0,low,low,no,STAY,4743,Android
32,one,103540.0,0,9.0,3072.0,153,708011,704.0,1.0,5.0,low,low,yes,LEAVE,7010,Android
31,one,103540.0,0,9.0,3072.0,153,708011,704.0,1.0,5.0,low,low,yes,LEAVE,7010,Android
30,one,103540.0,0,9.0,3072.0,153,708011,704.0,1.0,5.0,low,low,yes,LEAVE,7010,Android
50,zero,331682.0,47,85.0,5754.0,97,1121841,413.0,3.0,1.0,high,low,yes,LEAVE,7922,Android
57,zero,331682.0,47,85.0,5754.0,97,1121841,413.0,3.0,1.0,high,low,yes,LEAVE,7922,Android
70,one,332075.0,0,0.0,4881.0,55,1029606,704.0,1.0,12.0,high,low,yes,LEAVE,9538,Android
76,one,332075.0,0,0.0,4881.0,55,1029606,704.0,1.0,12.0,high,low,yes,LEAVE,9538,Android
51,zero,346119.0,264,0.0,2429.0,201,829460,452.0,24.0,1.0,low,low,no,LEAVE,10771,Android
58,zero,346119.0,264,0.0,2429.0,201,829460,452.0,24.0,1.0,low,low,no,LEAVE,10771,Android
74,zero,274179.0,0,13.0,7624.0,214,1156854,325.0,0.0,4.0,avg,low,NaN,STAY,11270,Android
68,zero,274179.0,0,13.0,7624.0,214,1156854,325.0,0.0,4.0,avg,low,NaN,STAY,11270,Android
55,zero,246436.0,85,0.0,2665.0,94,1095959,1023.0,3.0,8.0,high,high,NaN,LEAVE,11388,IOS
48,zero,246436.0,85,0.0,2665.0,94,1095959,1023.0,3.0,8.0,high,high,NaN,LEAVE,11388,IOS
65,one,325119.0,66,0.0,6958.0,158,570769,1303.0,5.0,15.0,high,high,yes,STAY,13354,IOS
71,one,325119.0,66,0.0,6958.0,158,570769,1303.0,5.0,15.0,high,high,yes,STAY,13354,IOS
27,one,324903.0,129,5.0,4056.0,204,368142,705.0,21.0,6.0,low,low,no,LEAVE,13678,Android
28,one,324903.0,129,5.0,4056.0,204,368142,705.0,21.0,6.0,low,low,no,LEAVE,13678,Android
52,zero,290449.0,0,84.0,1184.0,80,1222190,298.0,1.0,2.0,high,high,no,STAY,14054,Android
45,zero,290449.0,0,84.0,1184.0,80,1222190,298.0,1.0,2.0,high,high,no,STAY,14054,Android
47,one,384785.0,141,17.0,4644.0,202,624462,557.0,25.0,5.0,high,low,yes,STAY,16905,Android
54,one,384785.0,141,17.0,4644.0,202,624462,557.0,25.0,5.0,high,low,yes,STAY,16905,Android
53,one,284098.0,65,20.0,4453.0,107,646006,618.0,1.0,6.0,high,low,no,LEAVE,19786,Android
46,one,284098.0,65,20.0,4453.0,107,646006,618.0,1.0,6.0,high,low,no,LEAVE,19786,Android

Number of unique IDs among duplicate rows: 16

🔧 Add comment here: Based on the analysis, most of the duplicate rows share the same ID. There are 17 duplicate rows, but only 16 unique IDs among them, suggesting that some customer IDs are associated with more than one identical record in the dataset.

## Part 5: Identify and Remove Obvious Outliers

Outliers are values that fall far outside the normal range. They can come from data entry mistakes or rare cases.

- Use summary statistics or visual tools (like boxplots) to find them.
- Look for clearly unrealistic values — e.g., negative prices or extremely high data usage.
- Decide how to handle them:
  - Remove if they’re errors.
  - Keep if they’re valid but rare — or cap them if needed.

Outliers can distort averages, stretch visualizations, and mislead models, so it’s important to address them carefully.

In [13]:
# Remove negative or nonsensical values using business rules

# Example: remove rows where 'handset_price' is negative
df = df[df['handset_price'] >= 0]

# Example: remove rows with unusually long call durations
df = df[df['average_call_duration'] < 1000]

# Example: remove rows with extremely high text message counts
df = df[df['text_message_count'] < 1000]

# View shape after outlier filtering
print("Shape after removing obvious outliers:", df.shape)

Shape after removing obvious outliers: (14986, 15)

### 🔧 Try It Yourself – Part 5

1. Use `df.describe()` to look for columns with extreme minimum or maximum values.
2. Set a threshold for what you think is "too high" or "too low" for:
  - `data_mb_used`
  - `over_15mins_calls_per_month`
  - `income`
3. Remove those outliers using boolean filtering like `df = df[df['column'] < threshold]`

,income,data_overage_mb,data_leftover_mb,data_mb_used,text_message_count,house,handset_price,over_15mins_calls_per_month,average_call_duration,id
count,14986.000000,14986.000000,14986.000000,14986.000000,14986.000000,14986.0,14986.000000,14986.000000,14986.000000,14986.000000
mean,241977.965768,153.510543,37.262045,4201.313760,135.626985,877132.397304,795.018617,10.569331,9.731149,11861.289604
std,109612.549926,113.011748,28.120274,2196.751708,48.835016,287042.239574,1235.982599,8.401171,5.178082,6812.499283
min,-65000.000000,0.000000,0.000000,400.000000,52.000000,-463.0,215.000000,0.000000,1.000000,2.000000
25%,147808.250000,54.000000,12.000000,2304.000000,93.000000,644257.0,499.250000,3.000000,5.000000,6139.000000
50%,241653.000000,151.000000,34.000000,4221.000000,135.000000,876253.0,777.000000,9.000000,10.000000,11763.500000
75%,336442.000000,242.000000,62.000000,6063.000000,178.000000,1098814.25,1062.000000,17.000000,14.000000,17398.000000
max,432000.000000,380.000000,89.000000,8000.000000,220.000000,1456389.0,125000.000000,35.000000,19.000000,25354.000000

Shape after removing outliers using thresholds: (14984, 15)

## Part 6: Handle Outliers Using Quantiles

Instead of removing outliers, we can limit their impact by capping extreme values — a method known as **Winsorizing**.

### How to Do It:
- Use `.quantile()` to identify the 1st and 99th percentiles (or other thresholds).
- Use `.clip()` to cap values within that range.

This keeps your dataset intact while reducing the influence of extreme values on your analysis or model.

In [15]:
# Calculate 1st and 99th percentiles for income
income_min, income_max = df['income'].quantile([0.01, 0.99])

# Use .loc to avoid SettingWithCopyWarning and ensure assignment modifies the original DataFrame
df.loc[:, 'income'] = df['income'].clip(lower=income_min, upper=income_max)

# Clip 'data_mb_used' to within 1st and 99th percentiles
usage_min, usage_max = df['data_mb_used'].quantile([0.01, 0.99])
df.loc[:, 'data_mb_used'] = df['data_mb_used'].clip(lower=usage_min, upper=usage_max)

# Clip 'average_call_duration' to reduce the effect of extreme outliers
call_min, call_max = df['average_call_duration'].quantile([0.01, 0.99])
df.loc[:, 'average_call_duration'] = df['average_call_duration'].clip(lower=call_min, upper=call_max)

### 🔧 Try It Yourself – Part 6

1. Use `.quantile([0.01, 0.99])` to find the range for:
  - `text_message_count`
  - `over_15mins_calls_per_month`
2. Apply `.clip(lower=..., upper=...)` to reduce the impact of those outliers
3. Compare the `.describe()` output before and after clipping and comment on what you observe

,income,data_overage_mb,data_leftover_mb,data_mb_used,text_message_count,house,handset_price,over_15mins_calls_per_month,average_call_duration,id
count,14984.000000,14984.000000,14984.000000,14984.000000,14984.000000,14984.0,14984.000000,14984.000000,14984.000000,14984.000000
mean,242014.179225,153.531033,37.267018,4201.370962,135.623465,877118.070075,795.015016,10.559597,9.730980,11862.629872
std,109505.590643,113.005371,28.118855,2195.414773,48.814121,287013.370185,1236.063471,8.370176,5.178407,6811.948066
min,55783.100000,0.000000,0.000000,471.000000,53.000000,-463.0,215.000000,0.000000,1.000000,2.000000
25%,147825.500000,54.000000,12.000000,2304.000000,93.000000,644343.0,499.000000,3.000000,5.000000,6140.500000
50%,241656.000000,151.000000,34.000000,4221.000000,135.000000,876253.0,777.000000,9.000000,10.000000,11765.500000
75%,336449.750000,242.000000,62.000000,6063.000000,178.000000,1098794.75,1062.000000,17.000000,14.000000,17398.000000
max,427996.610000,380.000000,89.000000,7929.170000,219.000000,1456389.0,125000.000000,33.000000,19.000000,25354.000000

🔧 Add comment here: After clipping the outliers in the text_message_count and over_15mins_calls_per_month columns using the 1st and 99th percentiles, the minimum and maximum values in the .describe() output for these columns have been adjusted to those percentile values. This demonstrates how clipping limits the range of extreme values without removing the rows entirely.

## 🔧 Part 7: Reflection (100 words or less per question)

1. Which step fixed the most issues in the dataset?
2. What surprised you about the structure or values?
3. Do you feel this data is now ready for transformation in Lab 7?


---
🔧 Add comment here: Which step fixed the most issues in the dataset?
From a data integrity perspective, the steps addressing missing values and duplicate rows were crucial as they directly impacted the completeness and accuracy of the dataset by either removing incomplete records or ensuring each observation is unique.

What surprised you about the structure or values?
The presence of negative income values and the need to drop the considering_change_of_plan column due to the type conversion issue were notable. The duplicate rows with some shared IDs also highlighted potential data collection or entry inconsistencies.

Do you feel this data is now ready for transformation in Lab 7?
Yes, the data has undergone significant cleaning by handling missing values, standardizing column names, converting data types, removing duplicates, and addressing outliers. It appears ready for feature engineering and transformations in Lab 7.

---

## Export Your Notebook to Submit in Canvas
- Use the instructions from Lab 1

In [17]:
!jupyter nbconvert --to html "lab_06_ChristensenBryson.ipynb"

[NbConvertApp] Converting notebook lab_06_ChristensenBryson.ipynb to html
[NbConvertApp] Writing 369397 bytes to lab_06_ChristensenBryson.html